.card-of-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  border-top: 3px solid #218838;
  border-bottom: 3px solid #218838;
  margin: 1rem 0;
  min-height: 18rem;
  padding: 1rem .5rem;
  @media screen and (max-width: 425px) {
    min-height: 0;
  }
  .title-of-product h3 {
    color: #218838;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 1rem;
    }
  }
  .card-of-product__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .card-of-product__left {
      display: flex;
      flex-flow: column nowrap;
      width: 40%;
      .image-of-product {
        width: 12rem;
        @media screen and (max-width: 768px) {
          width: 10rem;
        }
        @media screen and (max-width: 375px) {
          width: 7rem;
        }
      }
    }
    .card-of-product__right {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      @media screen and (max-width: 768px) {
        justify-content: center;
      }
      @media screen and (max-width: 425px) {
        justify-content: flex-end;
      }
      .container_for_price {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .btn {
          @media screen and (max-width: 425px) {
            font-size: .8rem;
            width: 8rem;
          }
        }
        .price-of-product {
          font-size: 1.5rem;
          @media screen and (max-width: 425px) {
            font-size: 1rem;
          }
          i {
            color: #218838;
          }
        }
      }

      .info_about_project {
        width: 40%;
        color: #218838;
        font-weight: 700;
      }
    }
  }
}

// page-list

.container-for-page-button {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
