.header {
  width: 100%;
  height: 10vh;
  background-color: #218838;
  .container-nav {
    .container-nav__link {
      font-size: 2rem;
    }
    .nav-logo {
      height: 10vh;
    }
  }
}

.main {
  min-height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  .container-categories {
    display: flex;
    flex-flow: column wrap;
  }
  .container-for-main {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .input-group {
      width: 60%;
      margin-top: 1.5rem;
    }
  }
}