.container_cart {
  width: 100%;
  h2 {
    margin-top: 1rem;
  }
  .cart_paragraph {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    color: var(--success);
  }
  .input-group-prepend {
    background-color: rgb(255, 222, 89);
    cursor: pointer;
  }
  .input-group-text {
    color: var(--success);
    border: var(--success) solid 2px;
    background-color: transparent;
    cursor: pointer;
    .checkbox_product {
      background-color: rgb(255, 222, 89) !important;
    }
  }
  .cart__item-of-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-of-product__img {
      width: 5rem;
    }
    .item-of-product__title {
      font-size: 1rem;
    }
  }
  .cart__title {
    color: var(--success);
    font-weight: 700;
    text-align: center;
  }
  .container_for_actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
    .input-group {
      width: 3rem;
    }
  }
}

.react-numeric-input {
  width: 50%;
  cursor: pointer !important;
  @media screen and (max-width: 1024px) and (min-width: 581px) {
    width: 100%;
  }
  input {
    width: 100%;
    outline: var(--success) solid 2px;
    background-color: transparent;
  }
}

//For table\

.table-cart {
  .product_of_cart_mobile {
    border: 3px solid var(--success);
    border-radius: 0.5rem;
    border-top-left-radius: 1rem;
    margin: 0.5rem 0;
    .container_for_top {
      display: flex;
      flex-flow: row nowrap;
      background-color: rgba(255, 222, 89, 0.76);
      padding: 0.5rem;
      .form-group {
        display: flex;
        justify-content: center;
        align-items: 3rem;
        width: 3rem;
        height: 3rem;
        margin: 0;
        background-color: rgb(243, 243, 243);
        border-radius: 0.5rem;
        border: 3px solid rgb(243, 243, 243);
        z-index: 100;
        position: relative;
        right: calc(3px + 0.5rem);
        bottom: calc(3px + 0.5rem);
      }
      .cart__item-of-product {
        display: inline-block;
        width: 80%;
        text-align: center;
        color: var(--success);
        text-decoration: none;
        .item-of-product__title {
          font-weight: 700;
        }
      }
    }
    .container_for_bottom {
      display: flex;
      flex-flow: row nowrap;
      padding: .7rem .5rem;
      background-color: rgb(243, 243, 243);
      .item-of-product__img {
      width: 30%;
    }
    .container_for_bottom_right {
      display: flex;
      flex-flow: column wrap;
      width: 70%;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.5rem;
        color: var(--success);
      }
    }
    }
    
  }
  td,
  th {
    vertical-align: middle !important;
    text-align: center;
    font-size: 0.9rem;
    white-space: nowrap;
    @media screen and (max-width: 1024px) {
      font-size: 0.7rem;
      width: 1rem;
    }
    padding: 0.3rem !important;
    .input-group-text {
      background-color: transparent !important;
      border: none !important;
      input {
        background-color: var(--success) !important;
      }
    }
    .container-in-td {
      width: 100%;
    }
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 2px;
  top: 5px;
  width: 14px;
  height: 8px;
  border-radius: 4px;
  border-left: 4px solid var(--success);
  border-bottom: 4px solid var(--success);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--success);
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
