.container-for-search-bar {
  margin: 2rem 0;
  .search-bar {
    width: 40vw;
    height: 3rem;
    font-size: 1.2rem;
    border: 3px solid #218838;
    border-top-color: rgb(255, 222, 89);
    border-left-color: rgb(255, 222, 89);
    border-radius: 2rem;
    outline: none;
    padding: 1rem;
  }
  svg {
    opacity: 0;
    font-size: 1.5rem;
    color: #218838;
    position: absolute;
    right: 21%;
    top: 10.5%;
  }
}
@media screen and (max-width: 768px) {
  .container-for-search-bar {
    margin: 0.5rem;
    .search-bar {
      width: 90vw;
    }
  }
}

@media screen and (max-width: 425px) {
  .container-for-search-bar {
    display: none;
  }
  .display {
    display: block;
  }
}
.container-for-suggestion {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  img {
    width: 6rem;
    height: auto;
    margin-right: 1rem;
  }
  .suggest-info {
    display: flex;
    flex-flow: column wrap;
    .suggestion-title {
      font-size: 1.5rem;
    }
    .suggestion-price {
      font-size: 1.5rem;
      color: #218838;
    }
  }
}
